body {
    margin: 0;
    color: #D3D3D3;
    background-color: #020202;
    font-family: "Anonymous Pro", monospace;
}

.container_wrapper_page {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: block;
}

.container-wrapper-content {
    position: relative;
    height: 100%;
    margin: 8px;
    margin-inline: 10vw;
}

p {
    font-family: "Poppins", sans-serif;
    /* letter-spacing: -0.05em; */
    font-size: 12px;
}

.main-title {
    text-transform: uppercase;
    color: #fff;
    z-index: 10;
}

.wrapper-section-landing {
    position: absolute;
    justify-content: space-between;
    /* padding-inline: 200px; */
    z-index: 10;
}

.image-bg-custom {
    position: absolute;
    top: 0px; right: 0px;
    width: min-content;
    height: min-content;
    /* padding-inline: 10vw; */
    /* padding-top: 8px; */
    display: flex;
    justify-content: right;
    z-index: 1;
    
    & img {
        right: 0px;
        /* z-index: 1; */
        background: #000;
        opacity: 0.7;
        z-index: 1;
    }
}

.asset-filter-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to right, #020202, #02020200);
    box-shadow: inset -32px 32px 34px 2px #020202;
}